/*
background-color: #c4ebf9;
header-color: #02bfb1;
aside-color: #6edb6e;
article-color: #fbb04c;
image-color: #fcd24a;
text-color: #ffffff;
*/
.wrapper{
  margin:40px;
}
.header{
  width:100%;
  background-color: #02bfb1;
  text-align: center;
}
.footer{
  width:100%;
  background-color: #02bfb1;
  text-align: center;
}
.main{
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top:20px;
  margin-bottom:20px;
  gap:20px;
}
.aside{
  flex:0 1 25%;
  background-color: #6edb6e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article{
  flex:0 1 75%;
  background-color: #fbb04c;
  height:70vh;
  display: flex;
  flex-direction: column;
}
.article_text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_item{
  background-color: #fcd24a;
  display: flex;
  flex: 0 1 33%;
}
.image_block{
  display: flex;
  flex-direction: row;
  gap:20px;
}